
body {
	background-image: url("Background.jpg");
	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	margin: 0;
	/*background-color: #f3f7f6;*/
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	/* font-weight: bold; */
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	/*background:rgba(0,0,0,0.5);
	
	/*fondo transparente */
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 8 */ 
	filter: alpha(opacity=70); /* IE 5-7 */ 
	-moz-opacity: 0.5; /* Netscape */ 
	-khtml-opacity: 0.5; /* Safari 1.x */ 
	opacity: 0.5;

	top: 0px;
	width: 100%;
	height:90px; /* nuevo ancho */ 
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
	margin: 0%;
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
	font-family: robotoB;
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /*Hidden by default*/
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
  }

  @font-face {
	font-family: roboto;
	src: url(Roboto-Regular.ttf);
	
  }
  @font-face {
	font-family: robotoB;
	src: url(Roboto-Black.ttf);
	
  }

  #text{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
  }
.vidas{
	position: absolute; 
	right: 10%; 
	top: 2%;
	font-size:300%;
}
.puntos{
	position: absolute;
	top: 15%;
	right: 48%;
	font-family: roboto;
	font-size:300%;
	
}	

.logo{
	position: absolute;
	top:  20px;
	left: 0.5%;	
	
}
.StatusInfo{
	position: center;
	top: 10px;
	/*transform: translate(40%, -50%);*/
	
}
.inst{
	position: absolute;
	top: 125%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	
	font-size:200%;
	
}
.Lives
{
	position: absolute; 
	right: 35px; 
	top: 37%;
	font-family: roboto;
	font-size: 75%;
	
}
.Time{
	position: absolute; 
	right: 50px; 
	top: 35%;
	font-family: roboto;
	font-size:400%;
	
}
.help{
	position: absolute;
	top: 110%;
	right: 1%;
	z-index: index 3;
}

.bg-image {
	/* The image used */
	/* position: relative; */
	background-image: url("Background.jpg");
	
	/* Add the blur effect */
	filter: blur(5px);
	-webkit-filter: blur(5px);
	
	/* Full height */
	height: 100%; 
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }